.selectModules {
  width: 30%;
}

.dropdown > * {
  width: 100%;
  padding-top: 10px;
}

.dropdown {
  padding-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: space-between;
}
.btn > * {
  width: 49%;
}